<div class="row">
  <div class="col-sm-6">
    <!-- start student registration form -->
    <div class="card m-2">
      <div class="card-header">
        Register students
      </div>
      <div class="card-body">
        <form class="form-group my-3 px-4 py-2" #studentsForm="ngForm" (ngSubmit)="form31(studentsForm)">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" class="form-control" id="firstname" ngModel name="firstname" required autofocus>
              </div>
              <div class="form-group">
                <label for="sex">Sex</label>
                <select class="form-control" id="sex" name="sex" ngModel required>
                  <option>M</option>
                  <option>F</option>
                </select>
              </div>
              <div class="form-group">
                <label for="sclass">Class</label>
                <select class="form-control" id="sclass" name="sclass" ngModel required>
                  <option  *ngFor="let class of sclasses" value="{{class.id}}" >{{class.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="orphan">Orphan</label>
                <select class="form-control" id="orphan" name="orphan" ngModel required>
                  <option>No</option>
                  <option>Single</option>
                  <option>Both</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="middlename">Middle name</label>
                <input type="text" class="form-control" id="middlename" ngModel name="middlename" required>
              </div>
              <div class="form-group">
                <label for="birthdate">Date of Birth</label>
                <input type="date" class="form-control" id="birthdate" ngModel name="birthdate" required>
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status" ngModel required>
                  <option>Ongoing</option>
                  <option>Completed</option>
                  <option>Dropout</option>
                </select>
              </div>
              <div class="form-group">
                <label for="sdisability">Disability</label>
                <select class="form-control" id="sdisability1" name="sdisability1" ngModel required>
                  <option  *ngFor="let sdisability of sdisabilities" value="{{sdisability.id}}" >{{sdisability.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="lastname">Last name</label>
                <input type="text" class="form-control" id="lastname" ngModel name="lastname" required>
              </div>
              <div class="form-group">
                <label for="admisn">Admission no</label>
                <input type="text" class="form-control" id="admisn" ngModel name="admisn" required autofocus>
              </div>
              <div class="form-group">
                <label for="lifestatus">Life Status</label>
                <select class="form-control" id="lifestatus" name="lifestatus" ngModel required>
                  <option>Hard</option>
                  <option>Normal</option>
                </select>
              </div>
              <div class="form-group">
                <label for="nationality">Nationality</label>
                <select class="form-control" id="nationality" name="nationality" ngModel required>
                  <option>Tanzanian</option>
                  <option>Kenyan</option>
                  <option>Ugandan</option>
                  <option>Rwandan</option>
                  <option>Burundian</option>
                  <option>Congolese</option>
                  <option>Mozambican</option>
                  <option>Malawian</option>
                  <option>Zambian</option>
                </select>
              </div>
              <!-- <div class="form-group">
                <input type="hidden" class="form-control" id="year" ngModel name="year" value="{{currentYear}}" required>
              </div> -->
            </div>
          </div>
          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!studentsForm.valid">Submit Details</button>
          </div>
        </form>
      </div>
    </div>
     <!-- end student registration form -->

      <!-- start student attendance form -->
    <div class="card m-2">
      <div class="card-header">
        Student attendance
      </div>
      <div class="card-body">
        <form class="form-group my-3 px-4 py-2" #atForm="ngForm" (ngSubmit)="form32(atForm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="avgmale">Average no. of male</label>
                <input type="text" class="form-control" id="avgmale" ngModel name="avgmale" required autofocus>
              </div>
              <div class="form-group">
                <label for="from">From</label>
                <input type="date" class="form-control" id="from" ngModel name="from" required autofocus>
              </div>
              <div class="form-group">
                <label for="sclass">Class</label>
                <select class="form-control" id="sclass" name="sclass" ngModel required>
                  <option  *ngFor="let class of sclasses" value="{{class.id}}" >{{class.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="avgfemale">Average no. of female</label>
                <input type="text" class="form-control" id="avgfemale" ngModel name="avgfemale" required>
              </div>
              <div class="form-group">
                <label for="to">To</label>
                <input type="date" class="form-control" id="to" ngModel name="to" required>
              </div>
             
            </div>
          </div>
          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!atForm.valid">Submit Details</button>
          </div>
        </form>
      </div>
    </div>
     <!-- end student attendance form -->
  </div>
  <div class="col-sm-6">
    <div class="card m-2">
      <div class="card-header">
        View students
      </div>
      <div class="card-body">
        <table class="table table-bordered table-responsive-sm table-hover">
          <thead>
            <tr>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th>
                <i class="material-icons">
                  create
                </i>
              </th>
              <!-- <th>
                <i class="material-icons">
                  delete
                </i>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let student of students">
              <td>{{student.fname}}</td>
              <td>{{student.lname}}</td>
              <td>
                <button class="btn btn-info btn-sm">
                  Edit
                </button>
              </td>
              <!-- <td>
                <button class="btn btn-danger btn-sm">
                  Delete
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card m-2">
      <div class="card-header">
        View Attendance
      </div>
      <div class="card-body">
        <table class="table table-bordered table-responsive-sm table-hover">
          <thead>
            <tr>
              <th scope="col">StartDate</th>
              <th scope="col">EndDate</th>
              <th scope="col">Class</th>
              <th scope="col">Male</th>
               <th scope="col">Female</th>     
              <th>
                <i class="material-icons">
                  create
                </i>
              </th>
              <!-- <th>
                <i class="material-icons">
                  delete
                </i>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sattendance of sattendances">
              <td>{{sattendance.start_from}}</td>
              <td>{{sattendance.end_to}}</td>
              <td>{{sattendance.name}}</td>
              <td>{{sattendance.avmale}}</td>
              <td>{{sattendance.avfemale}}</td>
              <td>
                <button class="btn btn-info btn-sm">
                  Edit
                </button>
              </td>
              <!-- <td>
                <button class="btn btn-danger btn-sm">
                  Delete
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>