<nav class="navbar navbar-expand-sm navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand" href="#">EARMS</a>
  <button class="navbar-toggler" type="button"  (click)="isCollapsed = !isCollapsed" 
  [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="navbar-collapse collapse" id="navbarNavAltMarkup"[ngbCollapse]="isCollapsed">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" >Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
