<form class="form-group w-50 m-auto">

  <label for="firstName">First Name</label>
  <input type="text" class="form-control" id="firstName" name="firstname" placeholder="firstname" required autofocus>

  <label for="lastName">Last Name</label>
  <input type="text" class="form-control" id="lastName" name="lastname" placeholder="lastname" required>

  <label for="userPassword">User Password</label>
  <input type="password" class="form-control" id="userPassword" name="userpassword" placeholder="Password" required>

  <label for="role">Role</label>
  <select class="form-control" id="role" name="role" required>
    <option>HOS</option>
    <option>WEO</option>
    <option>DEO</option>
  </select>

</form>