<form class="form-group w-75 m-auto px-4 py-2" #registerSchool="ngForm" (ngSubmit)="form3(registerSchool)">

  <div class="form-group">
    <label for="schoolRegNo">School RegNo</label>
    <input type="text" class="form-control" id="schoolRegNo"  ngModel name="schoolRegNo" placeholder="School RegNo" required autofocus>
  </div>

  <div class="form-group">
    <label for="schoolName">School Name</label>
    <input type="text" class="form-control" id="schoolname"  ngModel name="schoolname" placeholder="School Name" required>
  </div>
  <div class="form-group">
    <label for="schoolName">Ward</label>
    <input type="text" class="form-control" id="wardname"  ngModel name="wardname" placeholder="School Name" required>
  </div>

  <div class="form-group">
    <label for="schoolP.O.Box">School P.O.Box</label>
    <input type="text" class="form-control" id="PO_Box"  ngModel name="PO_Box" placeholder="P.O.Box" required>
  </div>

  <div class="form-group">
    <label for="ownership">Ownership</label>
    <input type="text" class="form-control" id="ownership"  ngModel name="ownership" placeholder="Ownership" required>
  </div>

  <div class="form-group">
    <button class="btn btn-lg btn-custom-primary btn-block" type="submit" [disabled]="!registerSchool.valid">Register School</button>
  </div>

</form>