<div class="row">
  <div class="col-sm-6">

    <!-- start add accomodation categories form -->
    <div class="card m-2">
      <div class="card-header">
        Add school type
      </div>
      <div class="card-body">
        <form class="form-group px-4 py-2" #accomodation="ngForm" (ngSubmit)="form7(accomodation)">
          <div class="form-group">
            <label for="type"> Type </label>
            <input type="text" class="form-control" id="type" name="categoryname" [(ngModel)]="stype.type" #cname="ngModel" pattern="[a-zA-Z]+"
              required>
            <span>
              <div *ngIf="cname.invalid && (cname.dirty || cname.touched)" class="alert alert-danger">
                <div *ngIf="cname.errors.required">
                  Type is required.
                </div>
                <div *ngIf="cname.errors.pattern">
                  Type is Incorrect.
                </div>
              </div>
            </span>
          </div>
          <div class="form-group">
            <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!accomodation.valid">Add Type</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end add accomodation categories form -->

    <!-- start add ownership form -->
    <div class="card m-2">
      <div class="card-header">
        Add school ownership categories
      </div>
      <div class="card-body">
        <form class="form-group px-4 py-2" #ownership="ngForm" (ngSubmit)="form6(ownership)">
          <div class="form-group">
            <label for="ownership">Ownership category</label>
            <input type="text" class="form-control" id="ownership" name="ownershipname" [(ngModel)]="sownership.category" #category="ngModel"
              pattern="[a-zA-Z]+" required>
            <span>
              <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
                <div *ngIf="category.errors.required">
                  Category is required.
                </div>
                <div *ngIf="category.errors.pattern">
                  Category is Incorrect.
                </div>
              </div>
            </span>
          </div>
          <div class="form-group">
            <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!ownership.valid">Add category</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end add ownership form -->

    <!-- start school registration form -->
    <div class="card m-2">
      <div class="card-header">
        Register school
      </div>
      <div class="card-body">
        <form class="form-group px-4 py-2" #registerSchool="ngForm" (ngSubmit)="form3(registerSchool)">
          <div class="row">
            <div class="col-4 col-sm-4">
              <div class="form-group">
                <label for="schoolName">Name</label>
                <input type="text" class="form-control" id="schoolname" [(ngModel)]="rschool.name" #sname="ngModel" name="schoolname" pattern="[a-zA-Z]+"
                  required>
                <span>
                  <div *ngIf="sname.invalid && (sname.dirty || sname.touched)" class="alert alert-danger">
                    <div *ngIf="sname.errors.required">
                      School name is required.
                    </div>
                    <div *ngIf="sname.errors.pattern">
                      School name is Incorrect.
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="form-group">
                <label for="schoolRegNo">Reg Number</label>
                <input type="text" class="form-control" id="regno" [(ngModel)]="rschool.regno" #regno="ngModel" name="regno" pattern="[a-zA-Z0-9\W]+"
                  required>
                <span>
                  <div *ngIf="regno.invalid && (regno.dirty || regno.touched)" class="alert alert-danger">
                    <div *ngIf="regno.errors.required">
                      Reg Number is required.
                    </div>
                    <div *ngIf="regno.errors.pattern">
                      Reg Number is Incorrect.
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="form-group">
                <label for="schoolRegNo">Reg Date</label>
                <!-- <input type="date" class="form-control" id="regdate" [(ngModel)]="rschool.regdate" name="regdate" required> -->
                <my-date-picker name="mydate" [options]="myDatePickerOptions"
                [(ngModel)]="rschool.regdate" required></my-date-picker>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4 col-sm-4">
              <div class="form-group">
                <label for="schoolCategory">Type</label>
                <select class="form-control" id="category" [(ngModel)]="rschool.type" name="category" required>
                  <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="form-group">
                <label for="ward">Ownership</label>
                <select class="form-control" id="ownership" [(ngModel)]="rschool.ownership" name="ownership" required>
                  <option *ngFor="let ownership of ownerships" value="{{ownership.id}}">{{ownership.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="form-group">
                <label for="ward">Ward</label>
                <select class="form-control" id="ward" [(ngModel)]="rschool.ward" #ward="ngModel" name="ward" required>
                  <option *ngFor="let ward of wards" value="{{ward.id}}">{{ward.wname}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4 col-sm-4">
              <div class="form-group">
                <label for="ward">Postal address</label>
                <input type="text" class="form-control" id="postal_address" [(ngModel)]="rschool.saddress" #saddress="ngModel" name="postal_address"
                  pattern="[0-9]+" required>
                <span>
                  <div *ngIf="saddress.invalid && (saddress.dirty || saddress.touched)" class="alert alert-danger">
                    <div *ngIf="saddress.errors.required">
                      Address is required.
                    </div>
                    <div *ngIf="saddress.errors.pattern">
                      Address is Incorrect.
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="form-group">
                <label for="schoolEmail">Email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="rschool.email" #email="ngModel" name="email" pattern=".+\@.+\..+"
                  required>
                <span>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.pattern">
                      Email is Incorrect.
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="form-group">
                <label for="ward">Phone number</label>
                <input type="text" class="form-control" id="phonenumber" [(ngModel)]="rschool.phone_number" #phonenumber="ngModel" name="phonenumber"
                  placeholder="XXXX-XXX-XXX" pattern="/^\(?([0-9]{4})\)?[- ]?([0-9]{3})[- ]?([0-9]{3})$/" required>
                <span>
                  <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)" class="alert alert-danger">
                    <div *ngIf="phonenumber.errors.required">
                      Phone Number is required.
                    </div>
                    <div *ngIf="phonenumber.errors.pattern">
                      Phone Number is Incorrect.
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!registerSchool.valid">Register School</button>
          </div>

        </form>
      </div>
    </div>
    <!-- end school registration form -->
  </div>

  <div class="col-sm-6">
    <div class="accordion" id="accordion">
      <!-- start view schools table -->
      <div class="card">
        <div class="card-header bg-transparent" id="headn1">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#viewSchools" aria-expanded="false"
              aria-controls="viewSchools">
              View schools
            </button>
          </h5>
        </div>
        <div id="viewSchools" class="collapse show" aria-labelledby="headn1" data-parent="#accordion">
          <div class="card-body">
            <table id="schools" class="table table-bordered table-responsive-sm table-hover">
              <thead>
                <tr>
                  <th scope="col">School Name</th>
                  <th scope="col">Reg No</th>
                  <th scope="col">Ward</th>
                  <th>
                    <i class="material-icons">
                      create
                    </i>
                  </th>
                  <!-- <th>
                    <i class="material-icons">
                      delete
                    </i>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let school of schools">
                  <td>{{school.name}}</td>
                  <td>{{school.regno}}</td>
                  <td>{{school.wname}}</td>
                  <td>
                    <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#editSchool">
                      Edit
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="editSchool" tabindex="-1" role="dialog" aria-labelledby="schoolName" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="schoolName">{{school.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Kimaro
                            <div class="card m-2">
                              <div class="card-header">
                                Update school
                              </div>
                              <div class="card-body">
                                <!-- <form class="form-group px-4 py-2" #updateSchool="ngForm" (ngSubmit)="form90(updateSchool)"> -->
                                <div class="row">
                                  <div class="col-4 col-sm-4">
                                    <div class="form-group">
                                      <label for="schoolName">Name</label>
                                      <input type="text" class="form-control" id="schoolname" ngModel name="schoolname" required>
                                    </div>
                                  </div>
                                  <div class="col-4 col-sm-4">
                                    <div class="form-group">
                                      <label for="schoolRegNo">Reg Number</label>
                                      <input type="text" class="form-control" id="regno" ngModel name="regno" required autofocus>
                                    </div>
                                  </div>
                                  <div class="col-4 col-sm-4">
                                    <div class="form-group">
                                      <label for="schoolRegNo">Reg Date</label>
                                      <input type="date" class="form-control" id="regdate" ngModel name="regdate" required autofocus>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-4 col-sm-4">
                                    <div class="form-group">
                                      <label for="schoolCategory">Type</label>
                                      <select class="form-control" id="category" ngModel name="category" required>
                                        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-4 col-sm-4">
                                    <div class="form-group">
                                      <label for="ward">Ownership</label>
                                      <select class="form-control" id="ownership" ngModel name="ownership" required autofocus>
                                        <option *ngFor="let ownership of ownerships" value="{{ownership.id}}">{{ownership.name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-4 col-sm-4">
                                    <div class="form-group">
                                      <label for="ward">Ward</label>
                                      <select class="form-control" id="ward" ngModel name="ward" required autofocus>
                                        <option *ngFor="let ward of wards" value="{{ward.id}}">{{ward.wname}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-4 col-sm-4">
                                    <div class="form-group">
                                      <label for="ward">Postal address</label>
                                      <input type="text" class="form-control" id="postal_address" ngModel name="postal_address" required autofocus>
                                    </div>
                                  </div>
                                  <div class="col-4 col-sm-4">
                                    <div class="form-group">
                                      <label for="schoolEmail">Email</label>
                                      <input type="text" class="form-control" id="email" ngModel name="email" required>
                                    </div>
                                  </div>
                                  <div class="col-4 col-sm-4">
                                    <div class="form-group">
                                      <label for="ward">Phone number</label>
                                      <input type="text" class="form-control" id="phonenumber" ngModel name="phonenumber" required autofocus>
                                    </div>
                                  </div>
                                </div>

                                <!-- <div class="form-group">
                                          <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!registerSchool.valid">Register School</button>
                                        </div> -->


                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="onUpdate()" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <!-- <td>
                    <button class="btn btn-danger btn-sm">
                      Delete
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end view schools table -->
      <!-- start view school type table -->
      <div class="card">
        <div class="card-header bg-transparent" id="headn2">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#viewStype" aria-expanded="true" aria-controls="viewStype">
              View school types
            </button>
          </h5>
        </div>

        <div id="viewStype" class="collapse" aria-labelledby="headn2" data-parent="#accordion">
          <div class="card-body">
            <table class="table table-bordered table-responsive-sm table-hover">
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th>
                    <i class="material-icons">
                      create
                    </i>
                  </th>
                  <!-- <th>
                    <i class="material-icons">
                      delete
                    </i>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories">
                  <td>{{category.name}}</td>
                  <td>
                    <button class="btn btn-info btn-sm">
                      Edit
                    </button>
                  </td>
                  <!-- <td>
                    <button class="btn btn-danger btn-sm">
                      Delete
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end view school type table -->
      <!-- start view school ownership table -->
      <div class="card">
        <div class="card-header bg-transparent" id="headn3">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#viewOwn" aria-expanded="false"
              aria-controls="viewOwn">
              View ownership category
            </button>
          </h5>
        </div>
        <div id="viewOwn" class="collapse" aria-labelledby="headn3" data-parent="#accordion">
          <div class="card-body">
            <table class="table table-bordered table-responsive-sm table-hover">
              <thead>
                <tr>
                  <th scope="col">category</th>
                  <th>
                    <i class="material-icons">
                      create
                    </i>
                  </th>
                  <!-- <th>
                    <i class="material-icons">
                      delete
                    </i>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ownership of ownerships">
                  <td>{{ownership.name}}</td>

                  <td>
                    <button class="btn btn-info btn-sm">
                      Edit
                    </button>
                  </td>
                  <!-- <td>
                    <button class="btn btn-danger btn-sm">
                      Delete
                    </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end view school ownership table -->
    </div>
    <div class="accordion mt-3" id="accordion2">
      <div class="card">
        <div class="card-header" id="headn4">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#addClass" aria-expanded="true" aria-controls="addClass">
              Add class
            </button>
          </h5>
        </div>

        <div id="addClass" class="collapse" aria-labelledby="headn4" data-parent="#accordion2">
          <div class="card-body">
            <form class="form-group px-4 py-2" #sclass="ngForm" (ngSubmit)="form16(sclass)">
              <div class="form-group">
                <label for="type"> Class</label>
                <input type="text" class="form-control" id="name" name="name" ngModel required autofocus>
              </div>
              <div class="form-group">
                <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!sclass.valid">Add Class</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headn5">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#addSubject" aria-expanded="true" aria-controls="addSubject">
              Add subject
            </button>
          </h5>
        </div>

        <div id="addSubject" class="collapse" aria-labelledby="headn5" data-parent="#accordion2">
          <div class="card-body">
            <form class="form-group px-4 py-2" #subject="ngForm" (ngSubmit)="form22(subject)">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" ngModel required autofocus>
              </div>
              <div class="form-group">
                <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!subject.valid">Add Subject</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headn6">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#addDisability" aria-expanded="false"
              aria-controls="addDisability">
              Add disability category
            </button>
          </h5>
        </div>
        <div id="addDisability" class="collapse" aria-labelledby="headn6" data-parent="#accordion2">
          <div class="card-body">
            <form class="form-group px-4 py-2" #disability="ngForm" (ngSubmit)="form21(disability)">
              <div class="form-group">
                <label for="type"> Disability</label>
                <input type="text" class="form-control" id="name" name="name" ngModel required autofocus>
              </div>
              <div class="form-group">
                <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!disability.valid">Add Category</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headn7">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#addReason" aria-expanded="false"
              aria-controls="addReason">
              Drop out reason
            </button>
          </h5>
        </div>
        <div id="addReason" class="collapse" aria-labelledby="headn7" data-parent="#accordion2">
          <div class="card-body">
            <form class="form-group px-4 py-2" #dOut="ngForm" (ngSubmit)="form23(dOut)">
              <div class="form-group">
                <label for="rname">Reason</label>
                <input type="text" class="form-control" id="rname" name="rname" ngModel required autofocus>
              </div>
              <div class="form-group">
                <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!dOut.valid">Add Reason</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headn8">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#infraCat" aria-expanded="false"
              aria-controls="infraCat">
              Infrastructure categories
            </button>
          </h5>
        </div>
        <div id="infraCat" class="collapse" aria-labelledby="headn8" data-parent="#accordion2">
          <div class="card-body">
            <form class="form-group px-4 py-2" #iCat="ngForm" (ngSubmit)="form18(iCat)">
              <div class="form-group">
                <label for="type"> Category</label>
                <input type="text" class="form-control" id="name" name="name" ngModel required autofocus>
              </div>
              <div class="form-group">
                <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!iCat.valid">Add Category</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headn9">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tlmCat" aria-expanded="false" aria-controls="tlmCat">
              Teaching & Learning material category
            </button>
          </h5>
        </div>
        <div id="tlmCat" class="collapse" aria-labelledby="headn9" data-parent="#accordion2">
          <div class="card-body">
            <form class="form-group px-4 py-2" #tlmcat="ngForm" (ngSubmit)="form19(tlmcat)">
              <div class="form-group">
                <label for="type"> Category</label>
                <input type="text" class="form-control" id="name" name="name" ngModel required autofocus>
              </div>
              <div class="form-group">
                <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!tlmcat.valid">Add Category</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headn10">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#equipCat" aria-expanded="false"
              aria-controls="equipCat">
              Equipment category
            </button>
          </h5>
        </div>
        <div id="equipCat" class="collapse" aria-labelledby="headn10" data-parent="#accordion2">
          <div class="card-body">
            <form class="form-group px-4 py-2" #eCat="ngForm" (ngSubmit)="form20(eCat)">
              <div class="form-group">
                <label for="name"> Category</label>
                <input type="text" class="form-control" id="name" name="name" ngModel required autofocus>
              </div>
              <div class="form-group">
                <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!eCat.valid">Add Category</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>