<div class="row">
    <div class="col-sm-6">
        <!-- start add user role form-->
        <div class="card m-2">
            <div class="card-header">
                Add User Roles
            </div>
            <div class="card-body">
                <form class="form-group px-4 py-2" #addRole="ngForm" (ngSubmit)="form4(addRole)">
                    <div class="form-group">
                        <label for="role">Role</label>
                        <input type="text" class="form-control" id="role" name="role_name" [(ngModel)]="role.role_name" #role="ngModel" pattern="[a-zA-Z]+"
                            required>
                        <span>
                            <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger">
                                <div *ngIf="role.errors.required">
                                    Role is required.
                                </div>
                                <div *ngIf="role.errors.pattern">
                                    Role is Incorrect.
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="roleinitials">Initials</label>
                        <input type="text" class="form-control" id="roleinitials" name="role_initial" [(ngModel)]="role.role_initial" #roleinitial="ngModel"
                            pattern="[a-zA-Z]+" required>
                        <span>
                            <div *ngIf="roleinitial.invalid && (roleinitial.dirty || roleinitial.touched)" class="alert alert-danger">
                                <div *ngIf="roleinitial.errors.required">
                                    Role Initials are required.
                                </div>
                                <div *ngIf="roleinitial.errors.pattern">
                                    Role Initials are Incorrect.
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!addRole.valid">Add Role</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end  add user role form -->

        <!-- start add  district user form -->
        <div class="card m-2">
            <div class="card-header">
                Add User
            </div>
            <div class="card-body">
                <form class="form-group px-4 py-2" #addUser="ngForm" (ngSubmit)="form5(addUser)">
                    <div class="row">
                        <div class="col-4 col-sm-4">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="user.firstname" #fname="ngModel" pattern="[a-zA-Z]+"
                                    required>
                                <span>
                                    <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
                                        <div *ngIf="fname.errors.required">
                                            First Name is required.
                                        </div>
                                        <div *ngIf="fname.errors.pattern">
                                            First Name is Incorrect.
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4">
                            <div class="form-group">
                                <label for="middleName">Middle Name</label>
                                <input type="text" class="form-control" id="middlename" name="middlename" [(ngModel)]="user.middlename" #mname="ngModel"
                                    pattern="[a-zA-Z]+" required>
                                <span>
                                    <div *ngIf="mname.invalid && (mname.dirty || mname.touched)" class="alert alert-danger">
                                        <div *ngIf="mname.errors.required">
                                            Middle Name is required.
                                        </div>
                                        <div *ngIf="mname.errors.pattern">
                                            Middle Name is Incorrect.
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname" #lname="ngModel" pattern="[a-zA-Z]+"
                                    required>
                                <span>
                                    <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert alert-danger">
                                        <div *ngIf="lname.errors.required">
                                            Middle Name is required.
                                        </div>
                                        <div *ngIf="lname.errors.pattern">
                                            Middle Name is Incorrect.
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-4">
                            <div class="form-group">
                                <label for="role">Role</label>
                                <select class="form-control" id="userRole" name="role" [(ngModel)]="user.role" required>
                                    <!-- <option value="hos">hos</option>
                                            <option value="weo">weo</option>
                                            <option value="slo">slo</option>
                                            <option value="2">deo</option> -->
                                    <option option *ngFor="let role of roles" value="{{role.id}}">{{role.roinitial}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4">
                            <div [ngSwitch]="user.role">
                                <div class="form-group" *ngSwitchCase="'2'">
                                    <label for="station">District</label>
                                    <select class="form-control" id="station" name="station" [(ngModel)]="user.station" required>
                                        <option option *ngFor="let district of districts" value="{{district.id}}">{{district.dname}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngSwitchCase="'3'">
                                    <label for="station">School</label>
                                    <select class="form-control" id="station" name="station" [(ngModel)]="user.station" required>
                                        <option option *ngFor="let school of schools" [ngValue]="school.id">{{school.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngSwitchCase="'4'">
                                    <label for="station">Ward</label>
                                    <select class="form-control" id="station" name="station" [(ngModel)]="user.station" required>
                                        <option option *ngFor="let ward of wards" [ngValue]="ward.id">{{ward.wname}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngSwitchCase="'5'">
                                    <label for="station">District</label>
                                    <select class="form-control" id="station" name="station" [(ngModel)]="user.station" required>
                                        <option option *ngFor="let district of districts" value="{{district.id}}">{{district.dname}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngSwitchDefault>
                                    <label for="station">Station</label>
                                    <select class="form-control" id="station" name="station" [(ngModel)]="user.station" required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4">
                            <div class="form-group">
                                <label for="userEmail">Email</label>
                                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" pattern=".+\@.+\..+"
                                    required>
                                <span>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                        <div *ngIf="email.errors.required">
                                            Email is required.
                                        </div>
                                        <div *ngIf="email.errors.pattern">
                                            Email is Incorrect.
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userPassword">Password</label>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel"
                            pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
                        <span>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                <div *ngIf="password.errors.required">
                                    Password is required.
                                </div>
                                <div *ngIf="password.errors.pattern">
                                    Password is Incorrect.
                                </div>
                            </div>
                        </span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-custom-primary btn-block w-50 mx-auto" type="submit" [disabled]="!addUser.valid">Add User</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end add district user form -->

        <!-- start add ward user form -->
        <!-- <div class="card m-2">
            <div class="card-header">
                Add Ward user
            </div>
            <div class="card-body">
                <form class="form-group px-4 py-2" #f="ngForm" (ngSubmit)="ond(f)">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstname" ngModel required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="ward">Ward</label>
                                <select class="form-control" id="ward" name="ward" ngModel required>
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="role">Role</label>
                                <select class="form-control" id="role" name="role" ngModel required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="middleName">Middle Name</label>
                                <input type="text" class="form-control" id="middleName" name="middlename" ngModel required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="postaladdress">Postal Address</label>
                                <input type="text" class="form-control" id="postaladdress" name="postal_address" ngModel required>
                            </div>

                            <div class="form-group">
                                <label for="userPassword">Password</label>
                                <input type="password" class="form-control" id="password" name="password" ngModel required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastname" ngModel required>
                            </div>
                            <div class="form-group">
                                <label for="userEmail">Email</label>
                                <input type="email" id="email" name="email" class="form-control" ngModel required autofocus="">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-custom-primary btn-block" type="submit">Add User</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div> -->
        <!-- end add ward user form -->

        <!-- start add school user form -->
        <!-- <div class="card m-2">
            <div class="card-header">
                Add School user
            </div>
            <div class="card-body">
                <form class="form-group px-4 py-2" #f="ngForm" (ngSubmit)="ond(f)">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstname" ngModel required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="school">School</label>
                                <select class="form-control" id="school" name="school" ngModel required>
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="role">Role</label>
                                <select class="form-control" id="role" name="role" ngModel required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="middleName">Middle Name</label>
                                <input type="text" class="form-control" id="middleName" name="middlename" ngModel required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="postaladdress">Postal Address</label>
                                <input type="text" class="form-control" id="postaladdress" name="postal_address" ngModel required>
                            </div>

                            <div class="form-group">
                                <label for="userPassword">Password</label>
                                <input type="password" class="form-control" id="password" name="password" ngModel required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastname" ngModel required>
                            </div>
                            <div class="form-group">
                                <label for="userEmail">Email</label>
                                <input type="email" id="email" name="email" class="form-control" ngModel required autofocus="">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-custom-primary btn-block" type="submit">Add User</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div> -->
        <!-- end add school user form -->
    </div>
    <div class="col-sm-6">
        <div class="accordion" id="accordion">
            <!--start view district users table  -->
            <div class="card my-2">
                <div class="card-header bg-transparent" id="headn1">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#viewDusers" aria-expanded="false"
                            aria-controls="viewDusers">
                            View District Users
                        </button>
                    </h5>
                </div>
                <div id="viewDusers" class="collapse show" aria-labelledby="headn1" data-parent="#accordion">
                    <div class="card-body">
                        <table id="dusers" class="table table-bordered table-responsive-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">District</th>
                                    <th scope="col">Role</th>
                                    <th>
                                        <i class="material-icons">
                                            create
                                        </i>
                                    </th>
                                    <!-- <th>
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let district of dusers">
                                    <td>{{district.fname}}</td>
                                    <td>{{district.lname}}</td>
                                    <td>{{district.dname}}</td>
                                    <td>{{district.roinitial}}</td>
                                    <td>
                                        <button class="btn btn-info btn-sm">
                                            Edit
                                        </button>
                                    </td>
                                    <!-- <td>
                                        <button class="btn btn-danger btn-sm">
                                            Delete
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- end view district users table -->
            <!-- start view ward users table -->
            <div class="card my-2">
                <div class="card-header bg-transparent" id="headn2">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#viewWusers" aria-expanded="false"
                            aria-controls="viewWusers">
                            View Ward Users
                        </button>
                    </h5>
                </div>
                <div id="viewWusers" class="collapse" aria-labelledby="headn2" data-parent="#accordion">
                    <div class="card-body">
                        <table id="wusers" class="table table-bordered table-responsive-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Ward</th>
                                    <th scope="col">Role</th>
                                    <th>
                                        <i class="material-icons">
                                            create
                                        </i>
                                    </th>
                                    <!-- <th>
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ward of wusers">
                                    <td>{{ward.fname}}</td>
                                    <td>{{ward.lname}}</td>
                                    <td>{{ward.wname}}</td>
                                    <td>{{ward.roinitial}}</td>
                                    <td>
                                        <button class="btn btn-info btn-sm">
                                            Edit
                                        </button>
                                    </td>
                                    <!-- <td>
                                        <button class="btn btn-danger btn-sm">
                                            Delete
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- end view ward users table -->

            <!-- start view school users table -->
            <div class="card my-2">
                <div class="card-header bg-transparent" id="headn3">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#viewSusers" aria-expanded="false"
                            aria-controls="viewSusers">
                            View School Users
                        </button>
                    </h5>
                </div>
                <div id="viewSusers" class="collapse" aria-labelledby="headn3" data-parent="#accordion">
                    <div class="card-body">
                        <table id="susers" class="table table-bordered table-responsive-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">School</th>
                                    <th scope="col">Role</th>
                                    <th>
                                        <i class="material-icons">
                                            create
                                        </i>
                                    </th>
                                    <!-- <th>
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let suser of susers">
                                    <td>{{suser.fname}}</td>
                                    <td>{{suser.lname}}</td>
                                    <td>{{suser.name}}</td>
                                    <td>{{suser.roinitial}}</td>
                                    <td>
                                        <button class="btn btn-info btn-sm">
                                            Edit
                                        </button>
                                    </td>
                                    <!-- <td>
                                        <button class="btn btn-danger btn-sm">
                                            Delete
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- end view school users table -->

            <!-- start view user role table -->
            <div class="card my-2">
                <div class="card-header bg-transparent" id="headn4">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#viewRoles" aria-expanded="false"
                            aria-controls="viewRoles">
                            View Roles
                        </button>
                    </h5>
                </div>
                <div id="viewRoles" class="collapse" aria-labelledby="headn4" data-parent="#accordion">
                    <div class="card-body">
                        <table id="rusers" class="table table-bordered table-responsive-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Role</th>
                                    <th scope="col">Initials</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let role of roles">
                                    <td>{{role.roname}}</td>
                                    <td>{{role.roinitial}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end view user role table -->
        </div>
    </div>
</div>