<div class="row">
  <div class="col-sm-6">
    <!-- start revenue form -->
    <div class="card m-2">
      <div class="card-header">
        Revenue
      </div>
      <div class="card-body">
        <form class="form-group my-3 px-4 py-2" #revenueForm="ngForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">Source</label>
                <input type="text" class="form-control" id="name" ngModel name="name" required autofocus>
              </div>
              <div class="form-group">
                <label for="no_a">Number available</label>
                <input type="text" class="form-control" id="no_a" ngModel name="no_a" required autofocus>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="cat">Category</label>
                <select class="form-control" id="cat" name="cat" ngModel required>
                  <option></option>
                </select>
              </div>
              <div class="form-group">
                <label for="mname">Number needed</label>
                <input type="text" class="form-control" id="no_n" ngModel name="no_n" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!teachersForm.valid">Submit Details</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end revenue form -->

   
  </div>
  <div class="col-sm-6">

  </div>
</div>