<div class="container-fluid fill-login px-0">
  <div class="header-c border-bottom">
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top  flex-md-nowrap p-0">
      <a class="navbar-brand" href="#">
        <img src="../assets/tr.png" width="30" height="30" alt=""> EDUCATION ADMINSTRATIVE RECORDS MANAGEMENT SYSTEM</a>
    </nav>
  </div>
  <div class="row">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
      <div class="center text-center">
        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSignin(loginForm)" role="form">
          <h5 class="mt-0">EARMS Login</h5>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="loginEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus=""
            [(ngModel)]="user.email">

          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="loginPassword" name="password" class="form-control" placeholder="Password" required="" [(ngModel)]="user.password">

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>

          <button class="btn btn-sm w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!loginForm.valid"> Sign in </button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-c mt-5">
    <div class="container  border-top">
      <p class="mt-3 text-muted float-right"> Earms © {{currentYear}} </p>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-spin-clockwise-fade"></ngx-spinner>