<div class="row">
  <div class="col-sm-6">
    <!-- start infrastructure reg form -->
    <div class="card m-2">
      <div class="card-header">
        Register Infrastructure
      </div>
      <div class="card-body">
        <form class="form-group my-3 px-4 py-2" #InfraForm="ngForm" (ngSubmit)="form8(InfraForm)">
          <div class="row">
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" ngModel name="name" required autofocus>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="cat">Category</label>
                <select class="form-control" id="category" name="category" ngModel required>
                  <option *ngFor="let icategory of icategories" value="{{icategory.id}}">{{icategory.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="no_a">Number available</label>
                <input type="text" class="form-control" id="available" ngModel name="available" required autofocus>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="mname">Number needed</label>
                <input type="text" class="form-control" id="needed" ngModel name="needed" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!InfraForm.valid">Submit Details</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end infrastructure reg form -->

    <!-- start tlm form -->
    <div class="card m-2">
      <div class="card-header">
        Register TLM
      </div>
      <div class="card-body">
        <form class="form-group my-3 px-4 py-2" #tlForm="ngForm" (ngSubmit)="form9(tlForm)">
          <div class="row">
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="av_male">Name</label>
                <input type="text" class="form-control" id="name" ngModel name="name" required autofocus>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="class">Class</label>
                <select class="form-control" id="sclass" name="sclass" ngModel required>
                  <option *ngFor="let class of sclasses" value="{{class.id}}">{{class.name}}</option>
                </select>
              </div>

            </div>
          </div>
          <div class="form-group">
            <label for="cat">Category</label>
            <select class="form-control" id="tlcatagory" name="tlcategory" ngModel required>
              <option *ngFor="let tlcategory of tlmcategories" value="{{tlcategory.id}}">{{tlcategory.name}}</option>
            </select>
          </div>

          <div class="row">
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="no_1">Number available</label>
                <input type="text" class="form-control" id="available" ngModel name="available" required>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="needed">Number Needed</label>
                <input type="text" class="form-control" id="needed" ngModel name="needed" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!tlForm.valid">Submit Details</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end tlm form -->

    <!-- start tlm form -->
    <div class="card m-2">
      <div class="card-header">
        Register Equipment
      </div>
      <div class="card-body">
        <form class="form-group my-3 px-4 py-2" #eqForm="ngForm" (ngSubmit)="form10(eqForm)">
          <div class="row">
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="av_male">Name</label>
                <input type="text" class="form-control" id="name" ngModel name="name" required autofocus>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="class1">Class</label>
                <select class="form-control" id="sclass1" name="sclass1" ngModel required>
                  <option *ngFor="let class of sclasses" value="{{class.id}}">{{class.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cat">Category</label>
            <select class="form-control" id="eqcategory" name="eqcategory" ngModel required>
              <option *ngFor="let category of eqcategories" value="{{category.id}}">{{category.name}}</option>
            </select>
          </div>

          <div class="row">
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="no_2">Number available</label>
                <input type="text" class="form-control" id="available" ngModel name="available" required>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label for="needed">Number Needed</label>
                <input type="text" class="form-control" id="needed" ngModel name="needed" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!eqForm.valid">Submit Details</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end tlm form -->

    <!-- start services form -->
    <div class="card m-2">
      <div class="card-header">
        Specify offered services
      </div>
      <div class="card-body">
        <form class="form-group my-3 px-4 py-2" #srvForm="ngForm" (ngSubmit)="form11(srvForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ngModel name="name" required autofocus>
          </div>
          <div class="form-group">
            <label for="availability">Availability</label>
            <select class="form-control" id="availability" name="availability" ngModel required>
              <option>Far</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!srvForm.valid">Submit Details</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end services form -->
  </div>
  <div class="col-sm-6">
    <!-- start view infrastructure -->
    <div class="card m-2">
      <div class="card-header">
        View Infrastructure
      </div>
      <div class="card-body">
        <table class="table table-bordered table-responsive-sm table-hover" id="infraList">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th>Available</th>
              <th>Needed</th>
              <th>
                <i class="material-icons">
                  create
                </i>
              </th>
              <!-- <th>
                <i class="material-icons">
                  delete
                </i>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let infrastructure of infrastructures">
              <td>{{infrastructure.Name}}</td>
              <td>{{infrastructure.category}}</td>
              <td>{{infrastructure.available}}</td>
              <td>{{infrastructure.needed}}</td>
              <td>
                <button class="btn btn-info btn-sm">
                  Edit
                </button>
              </td>
              <!-- <td>
                <button class="btn btn-danger btn-sm">
                  Delete
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- end view infrastructure -->

    <!-- view tlm  -->
    <div class="card m-2">
      <div class="card-header">
        view tlm
      </div>
      <div class="card-body">
        <table class="table table-bordered table-responsive-sm table-hover" id="tlm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th>Available</th>
              <th>Needed</th>
              <th>
                <i class="material-icons">
                  create
                </i>
              </th>
              <!-- <th>
                <i class="material-icons">
                  delete
                </i>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tlmaterial of tlmaterials">
              <td>{{tlmaterial.Name}}</td>
              <td>{{tlmaterial.category}}</td>
              <td>{{tlmaterial.available}}</td>
              <td>{{tlmaterial.needed}}</td>

              <td>
                <button class="btn btn-info btn-sm">
                  Edit
                </button>
              </td>
              <!-- <td>
                <button class="btn btn-danger btn-sm">
                  Delete
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- view tlm -->

    <!-- view equipment  -->
    <div class="card m-2">
      <div class="card-header">
        view equipment
      </div>
      <div class="card-body">
        <table class="table table-bordered table-responsive-sm table-hover" id="equipment">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th>Available</th>
              <th>Needed</th>
              <th>
                <i class="material-icons">
                  create
                </i>
              </th>
              <!-- <th>
                <i class="material-icons">
                  delete
                </i>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipment of equipments">
              <td>{{equipment.Name}}</td>
              <td>{{equipment.category}}</td>
              <td>{{equipment.available}}</td>
              <td>{{equipment.needed}}</td>
              <td>
                <button class="btn btn-info btn-sm">
                  Edit
                </button>
              </td>
              <!-- <td>
                <button class="btn btn-danger btn-sm">
                  Delete
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- view equipment -->
  </div>
</div>