<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <!--START LEFT COLUMN-->
        <nav class="col-sm-2 d-none d-md-block bg-light leftcolumn">
            <div class="leftcolumn-sticky">
                <nav class="nav flex-column">
                    <a class="nav-item nav-link active" routerLink="./" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
                    <a class="nav-item nav-link" [routerLink]="[{ outlets: { admin: ['registerschool'] } }]">Register School</a>
                    <a class="nav-item nav-link" [routerLink]="[{outlets: { admin:['registerward'] } }]">Register Ward</a>
                    <a class="nav-item nav-link" [routerLink]="[{outlets: { admin:['registerdistrict'] } }]">Register District</a>
                </nav>
            </div>

        </nav>
        <!--END LEFT COLUMN-->

        <!--START PAGE CONTENT-->
        <main role="main" class="col-sm-10 ml-sm-auto pt-3 px-4">
            <router-outlet name="admin"></router-outlet>
        </main>
        <!--END PAGE CONTENT-->
    </div>
</div>