<div class="container-fluid fill px-0">
    <div class="row">
        <!--START LEFT COLUMN-->
        <div class="col-sm-2 px-0">
            <app-headerbrand></app-headerbrand>
            <div class="leftcolumn">
                <nav class="d-none d-md-block">
                    <div class="leftcolumn-sticky px-3 pt-3">
                        <nav class="nav flex-column">
                            <a class="nav-item nav-link" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Reports</a>
                        </nav>
                    </div>

                </nav>
            </div>

        </div>

        <!--END LEFT COLUMN-->

        <!--START PAGE CONTENT-->
        <div class="col-sm-10 px-0">
            <app-header></app-header>
            <main role="main" class="ml-sm-auto px-4 pt-4">
                <router-outlet></router-outlet>
            </main>
        </div>

        <!--END PAGE CONTENT-->
    </div>
</div>

