<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <!--START LEFT COLUMN-->
        <nav class="col-sm-2 d-none d-md-block bg-light leftcolumn">
            <div class="leftcolumn-sticky">
                <nav class="nav flex-column">
                    <a class="nav-item nav-link" routerLink="./" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Add Records</a>
                    <a class="nav-item nav-link" routerLink="./updaterecords" routerLinkActive="active">Update Records</a>
                    <a class="nav-item nav-link" routerLink="./documents" routerLinkActive="active">Documents</a>
                   
                </nav>
            </div>

        </nav>
        <!--END LEFT COLUMN-->

        <!--START PAGE CONTENT-->
        <main role="main" class="col-sm-10 ml-sm-auto px-4 pt-50">
            <router-outlet ></router-outlet>
        </main>
        <!--END PAGE CONTENT-->
    </div>
</div>