<div class="row">
  <div class="col-sm-6">
    <div class="card m-2">
      <div class="card-header">
        Register region
      </div>
      <div class="card-body">
        <form class="form-group w-75 m-auto px-4 py-2" #registerRegion="ngForm" (ngSubmit)="form1(registerRegion)">

          <div class="form-group">
            <label for="districtName">Region</label>
            <input type="text" class="form-control" id="regionname" [(ngModel)]="region.name" #rname="ngModel" name="regionname" placeholder="Region Name"
              pattern="[a-zA-Z]+" required>
              <span>
                  <div *ngIf="rname.invalid && (rname.dirty || rname.touched)" class="alert alert-danger">
                      <div *ngIf="rname.errors.required">
                          Region Name is required.
                      </div>
                      <div *ngIf="rname.errors.pattern">
                          Region Name is Incorrect.
                      </div>
                  </div>
              </span> 
          </div>

          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!registerRegion.valid">Add Region</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card m-2">
      <div class="card-header">
        Register district
      </div>
      <div class="card-body">
        <form class="form-group w-75 m-auto px-4 py-2" #registerDistrict="ngForm" (ngSubmit)="form2(registerDistrict)">
          <div class="form-group">
            <label for="region">Region</label>
            <div>
              <select type="text" class="form-control" id="region" name="region" [(ngModel)]="district.region" required>
                <option *ngFor="let region of regions" value="{{region.id}}">{{region.rname}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="districtName">District</label>
            <input type="text" class="form-control" id="districtname" [(ngModel)]="district.name" #dname="ngModel" name="districtname"
              placeholder="District Name" pattern="[a-zA-Z]+" required>
              <span>
                  <div *ngIf="dname.invalid && (dname.dirty || dname.touched)" class="alert alert-danger">
                      <div *ngIf="dname.errors.required">
                          District Name is required.
                      </div>
                      <div *ngIf="dname.errors.pattern">
                          District Name is Incorrect.
                      </div>
                  </div>
              </span>
          </div>
          <div class="form-group">
            <label for="districtName">Postal Address</label>
            <input type="text" class="form-control" id="postal_address" [(ngModel)]="district.daddress" #daddress="ngModel" name="postal_address"
              placeholder="Postal Address" pattern="[0-9]+" required>
              <span>
                  <div *ngIf="daddress.invalid && (daddress.dirty || daddress.touched)" class="alert alert-danger">
                      <div *ngIf="daddress.errors.required">
                          Postal Address is required.
                      </div>
                      <div *ngIf="daddress.errors.pattern">
                          Postal Address is Incorrect.
                      </div>
                  </div>
              </span>
          </div>

          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!registerDistrict.valid">Add District</button>
          </div>

        </form>
      </div>
    </div>
    <div class="card m-2">
      <div class="card-header">
        Register ward
      </div>
      <div class="card-body">
        <form class="form-group w-75 m-auto px-4 py-2" #registerWard="ngForm" (ngSubmit)="form3(registerWard)">
          <div class="form-group">
            <label for="district">District</label>
            <div>
              <select class="form-control" id="district" name="districtname" [(ngModel)]="ward.district" required>
                <option *ngFor="let district of districts" value="{{district.id}}">{{district.dname}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="wardName">Ward</label>
            <input type="text" class="form-control" id="wardname" [(ngModel)]="ward.name" #wname="ngModel" name="wardname" placeholder="Ward Name"
              pattern="[a-zA-Z]+" required>
              <span>
                  <div *ngIf="wname.invalid && (wname.dirty || wname.touched)" class="alert alert-danger">
                      <div *ngIf="wname.errors.required">
                          Ward Name is required.
                      </div>
                      <div *ngIf="wname.errors.pattern">
                          Ward Name is Incorrect.
                      </div>
                  </div>
              </span>
          </div>
          <div class="form-group">
            <label for="wardName">Postal Address</label>
            <input type="text" class="form-control" id="wardname" [(ngModel)]="ward.waddress" #waddress="ngModel" name="postal_address"
              placeholder="Ward Name" pattern="[0-9]+" required>
              <span>
                  <div *ngIf="waddress.invalid && (waddress.dirty || waddress.touched)" class="alert alert-danger">
                      <div *ngIf="waddress.errors.required">
                          Postal Address is required.
                      </div>
                      <div *ngIf="waddress.errors.pattern">
                          Postal Address is Incorrect.
                      </div>
                  </div>
              </span>
          </div>

          <div class="form-group">
            <button class="btn w-50 mx-auto btn-custom-primary btn-block" type="submit" [disabled]="!registerWard.valid">Add Ward</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card m-2">
      <div class="card-header">
        View stations
      </div>
      <div class="card-body">
        <table id="stations" class="table table-bordered table-responsive-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Region</th>
              <th>
                <i class="material-icons">
                  create
                </i>
              </th>
              <!-- <th>
                <i class="material-icons">
                  delete
                </i>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <!-- start regions -->
            <tr *ngFor="let region of regions">
              <td>
                <!-- <i class="material-icons">
                  expand_more
                </i> -->
                {{region.rname}}
              </td>
              <td>
                <button class="btn btn-info btn-sm">
                  Edit
                </button>
              </td>
              <!-- <td>
                <button class="btn btn-danger btn-sm">
                  Delete
                </button>
              </td> -->
              <!--start districts -->
              <!-- <tr class="collapse row" data-toggle="collapse" id="row1" data-target=".row1">
                <td> {{region.dname}} </td>
                <td>
                  <button class="btn btn-info btn-sm">
                    Edit
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger btn-sm">
                    Delete
                  </button>
                </td> -->
              <!-- start ward -->
              <!-- <tr class="collapse row1">
                    <td> {{region.wname}} </td>
                    <td>
                      <button class="btn btn-info btn-sm">
                        Edit
                      </button>
                    </td>
                    <td>
                      <button class="btn btn-danger btn-sm">
                        Delete
                      </button>
                    </td>
                    </tr> -->
              <!-- end ward -->
              <!-- </tr> -->
              <!-- end districts -->
            </tr>
            <!-- end regions  -->
          </tbody>
        </table>
      </div>
    </div>
  </div>